@using Bloggregator.Public.Models
@{
    ViewBag.Title = "Register | BlogBuddy";
    Layout = "~/Views/Shared/_RegisterLoginLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.Partial("_ExternalLoginPartial", new ExternalLoginHelperModel()
{
    FacebookProviderText = "Register with Facebook",
    TwitterProviderText = "Register with Twitter",
    GoogleProviderText = "Register with Google+"
})
    <div class="col-xs-12 text-center marg">
        @Html.ActionLink("Register with Email", "Register", null, new { @class = "blogBuddy-a" })
        <span class="or">or</span>
        @Html.ActionLink("Log In", "ExternalLogin", "Account", null, new { @class = "blogBuddy-a" })
    </div>
}