@model Bloggregator.Public.Models.LoginViewModel

@{
    ViewBag.Title = "Log In | BlogBuddy";
    Layout = "~/Views/Shared/_RegisterLoginLayout.cshtml";
}

@using (Html.BeginForm(new { returnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="col-xs-12 form-margin">
        @Html.ValidationMessageFor(m => m.Email)
        <div class="input-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) })
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope user-glyp"></span></span>
        </div>
    </div>
    <div class="col-xs-12 form-margin">
        @Html.ValidationMessageFor(m => m.Password)
        <div class="input-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock user-glyp"></span></span>
        </div>
    </div>
    <div class="col-xs-12 form-btn-margin">
        <button type="submit" class="btn btn-block form-control btn-blogBuddy">Log In</button>
    </div>
    <div class="col-xs-12 text-center marg">
        @Html.ActionLink("Log In with Service", "ExternalLogin", new { returnUrl = ViewBag.ReturnUrl },
                                    new { @class = "blogBuddy-a" })
        <span class="or">or</span>
        @Html.ActionLink("Register", "Register", "Account", null, new { @class = "blogBuddy-a" })
    </div>
}